#include <windows.h>
#include <winver.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DORUN_VERSION_MAJOR,DORUN_VERSION_MINOR,DORUN_VERSION_PATCH,DORUN_VERSION_BUILD
 PRODUCTVERSION DORUN_VERSION_MAJOR,DORUN_VERSION_MINOR,DORUN_VERSION_PATCH,DORUN_VERSION_BUILD
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "DoRun\0"
            VALUE "FileDescription", "DoRun Launcher\0"
            VALUE "FileVersion", "0.2.1.28\0"
            VALUE "InternalName", "DoRun\0"
            VALUE "OriginalFilename", "DoRun.exe\0"
            VALUE "ProductName", "DoRun\0"
            VALUE "ProductVersion", "0.2.1.28\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
